[program:lansia-papua-default-worker]
process_name=%(program_name)s_%(process_num)02d
directory=/var/www/lansia-papua
command=php /var/www/lansia-papua/artisan queue:work --queue=default --tries=3 --timeout=120 --sleep=2 --max-time=3600
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
user=www-data
numprocs=2
redirect_stderr=true
stdout_logfile=/var/www/lansia-papua/storage/logs/default-worker.log
stopwaitsecs=180
