[program:lansia-papua-exports-worker]
process_name=%(program_name)s_%(process_num)02d
directory=/var/www/lansia-papua
command=php /var/www/lansia-papua/artisan queue:work --queue=exports --tries=2 --timeout=600 --sleep=3 --max-time=3600
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
user=www-data
numprocs=1
redirect_stderr=true
stdout_logfile=/var/www/lansia-papua/storage/logs/exports-worker.log
stopwaitsecs=600
